<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="styleshseet" type="text/css" href="css/style.css">
    
    <title>About me</title>
    <style>
        #photo{
            margin-left: 70px;
            margin-top: 15px;
            
        }
    </style>
</head>
<body>
   <div class="container">
       <div class="container">
           <div class="container border" style="background-color: rgb(180, 185, 185); margin-top: 50px;" >
            <div class="row border shadow p-3 mb-5 bg-grey rounded">
                
                <div class="col-sm-12">
                    <div class="container">
                        <p><i>hello everyone i am</i></p>
                        <h3 class="display-3">DEEPAK KUMAR YADAV</h3>
                        <p>B-tech 3rd year student</p>
                        <p>Birthday: 23 March , 2000</p>
                        <p>Mobile-No: 9936812425</p>
                        <p>Email: deepakkumaryam123@gmail.com</p>
                    </div> 
                </div>
           </div>
           <div class="row border shadow p-3 mb-5 bg-grey rounded">
            <div class="col-sm-12" style="line-height: 1.5px;">
                <h5 display-3>Skills:</h5>
                <p display-3>Programming language: C ,C++, Java ,Python ,Assembly language, PHP ,Javascript</p>
                 <p display-3>Database:Sql database</p>
                 <p display-3>Advance:Machine learning and Deep learning(basics)</p>
                <p display-3>Designing language: html , CSS , Bootstrap ,Django</p>
                 <p display-3>Application skill: MS word ,Excel ,Powerpoint , Photoshop </p>
                 <h5 display-3>Project:</h5>
                 <p display-3>1.Income study of CANADA capita(using linear regression)</p>
                 <p display-3>2.Payroll Management System</p>
                 <p display-3>3.Face recognisation</p>
                 <p>4.Portfolio Website</p>
                 <p>5.Blogging application</p>
            </div>   
           </div>
        </div>
       </div>
   </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>